* {
    box-sizing: border-box;
  }

  /*horizontal scroll block*/

  html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

  /*vertical rithm*/

    h1,h2,h3,h4,h5,h6,hgroup,
    ul,ol,dd,
    p,figure,
    pre,table,fieldset,hr, div, section, li {
        margin-bottom: 1.5rem;
    }

 
  /*background pattern*/

  body {
      background-image: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
      line-height: 1.6;
  }
  /*colors*/

  .program, .qa {
      color: #d2ba87;
  }

  .contact, .gift, .location {
      color: #444349;
  }

  /*Header section */

  .header {
      background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg) no-repeat 68%;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      display: table;
      text-align: center;
      color: #ffffff;
  }

  .header-1 {
      display: table-cell;
      vertical-align: middle;
  }

  .header-2 {
      background-color: rgba(0, 0, 0, 0.295);
      width: 100%;
      margin: auto;
  } 

  .header-2 h1, h3 {
      font-family: 'Libre Baskerville',  serif;
      font-size: 1.25rem;
      letter-spacing: 0.03rem;
  }

  .header-2 h2 {
      font-family: 'Great Vibes', cursive;
      font-size: 3rem;
      color: #d2ba87;
      padding-top: .5rem;
  }

  .header-2 h3 {
    padding-bottom: 1.125rem;
  }

  .header-2 h1 {
    padding-top: 1rem;
  }

  .header-2 h1::after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 0.08rem;
    width: 12rem;
    margin: .5rem auto;
  }

  .header-2 h3::before, .header-2 h3::after {
    display: inline-block;
    content: "";
    background-color: #ffffff;
    vertical-align: middle;
    width: 1.2rem;
    height: 0.08rem;
    margin: .5rem;
  }

  /*location, gift section*/

  .location, .gift, .contact {
    text-align: center;
    font-family: 'Libre Baskerville',  serif;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cimsor {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 3rem;
  }

  img {
      height: 7rem;
      margin: auto;
  }

  .location p, .gift p, .contact p {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    margin: 2.2rem 1rem 2.2rem 1rem;
  }

  .location p::after {
    display: block;
    content: "";
    background-color: #444349;;
    height: 0.1rem;
    width: 6rem;
    margin: 2rem auto;
  }

  .gift p {
    font-family: 'Libre Baskerville',  serif;
  }

  /*only Program section*/

  .program {
    display: block;
    text-align: center;
    padding: 0.5rem;
  }

  .program-1 > h2 {
    font-family: 'Muli', sans-serif;
    font-style: italic;
    letter-spacing: -0.03rem;
  }

  .program ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 0rem;
  }

  .program ul li {
    text-align: left;
    margin-bottom: 0.08rem;
    transform: translateX(-3rem);
    font-family: 'Muli', sans-serif;
  }

  /*program, qa section*/

  .cimsor-2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
    color: #d2ba87;
    padding-top: 1rem;
    text-align: center;
  }

  .program, .qa, .footer {
      background-color: hsla(100,0%,0%,.6);
      padding-bottom: 0.5rem;
  }

  /*only qa section*/

  .qa {
    display: block;
    padding: .5rem;
    text-align: center;
    margin-bottom: .08rem;
  }

  .qa section {
    
    text-align: left;
    width: 95%;
    margin-bottom: .08rem;
    font-family: 'Muli', sans-serif;
    line-height: 1.6;
  }

  .qa h2 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .qa-2 h1 {
    text-align: center;
    font-family: 'Libre Baskerville',  serif;
    font-size: 1.2rem;
  }

  /*contact section*/

  .contact h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .contact p {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: 'Libre Baskerville',  serif;
  }

  .mail {
    transform: translateY(-1rem);
  }

  /*footer section*/

  .footer {
    text-align: center;
    padding-top: .5rem;
    padding-left: .2rem;
    padding-right: .2rem;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: .8rem;
  }

  /*strong, a*/

  a, strong {
    color: #bd806e;
    text-decoration: none;
  }

  a:hover{
    color: #eda087;
  }

  /*qa after line*/

  .qa-3::after, .qa-4::after, .qa-5::after {
    display: block;
    content: "";
    background-color: #d2ba87;
    height: 0.2rem;
    width: 10rem;
    margin: 0.5rem auto;
  }

 @media (min-width: 768px) {
   
  .location-2, .location-3 {
    width: 30%;
    display: inline-block;
    margin: .5rem;
  }

  .location p::after {
    display: none;
  }

  .cimsor {
    font-size: 3rem;
  }

 }

 @media (min-width: 768px) {

  .header-2 {
    width: 50%;
    padding: .5rem;
  }

  .header-2 h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: .8rem;
  }

  .header-2 h3 {
    font-size: 1.5rem;
    margin-bottom: .8rem;
  }

  .header-2 h2 {
    font-size: 6.1rem;
    margin-bottom: .8rem;
  }

 }

 @media (min-width: 768px) {

  .qa-3, .qa-4, .qa-5 {
    width: 30%;
    display: inline-block;
    margin: .5rem;
    vertical-align: top;
  }

  .qa-2 h1 {
    text-align: left;
  }

  .qa section {
    text-align: left;
  }

  .qa-3::after, .qa-4::after, .qa-5::after {
    display: none;
  }


 }
